* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

@media (max-width: 960px) {
    html {
      font-size: 42%;
    }
  }

@media (max-width: 376px) {
    html {
        font-size: 30%;
    }
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.7;
    font-weight: 400;
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.btn {
    border: 0.1rem solid black;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    background: none;
    width: 25rem;
    font-weight: 700;
}

.btn-register {
    padding: 0.5rem 2rem;
}

.btn-trial {
    width: 35rem;
    padding: 2rem;
    font-size: 2.5rem;
}

.btn-learnmore {
    width: 15rem;
    padding: 0.5rem 0.5rem;
}

li {
    list-style: none;
}

.nav--background {
    background: rgba(234,112,112, 0.3);
    padding: 2rem 1.5rem;
    height: 55rem;
}

.header--nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    padding: 0rem 3rem;
}

.header--nav li {
    display: inline;
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none;
    word-spacing: 0.5rem;
}

.header--nav li:first-child {
    margin-left: none;
}

.inline--logo {
    display: flex;
    align-items: center;
}

.inline--logo p {
    margin-left: 1rem;
    font-weight: 700;
}

.img--logo {
    height: 6rem;
    width: auto;
}

.nav--users-login, .nav--users-register {
    cursor: pointer;
    font-size: 1.6rem;
}

.nav--featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
    padding-left: 15rem;
    /* border: 1px solid black; */
}

.nav--featured hr {
    width: 75%;
    border: .02rem solid black;
}

.nav--featured p, .body--featured p {
    font-size: 1.5rem;    
    margin: 0.5rem 0rem;
}

.nav--featured h1 {
    font-size: 4.5rem;    
    margin: 1rem 0rem;
}

.nav--featured .btn {
    margin-top: 2rem;
}

@media (max-width: 767px) {
    .btn-learnmore {
        width: 20rem;
        font-size: 2rem;
      }
    
    .inline--logo {
        position: absolute;
        transform: translateX(-23rem) translateY(-7rem);
    }

    .inline--logo p {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
    
    .img--logo {
        height: 5rem;
    }

    .header--nav {
        flex-direction: column;
        justify-content: space-between;
        text-align: center; 
        height: 13rem;
        margin-top: 4rem;
        width: 100%;
        padding: 3rem 1rem;
        /* border: 1px dotted; */
    }

    .header--nav li {
        display: inline;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: left;
        cursor: pointer; 
    }

    .btn-register {
        border: 0.1rem solid black;
        padding: 0.25rem 0.75rem;
    }

    .nav--featured {
        align-items: center;
        padding-left: 0rem;
        width: 100%;
        transform: translateY(-4rem);
    }

}

.main {
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(253,196,182, 0.3);
}

.main p {
    font-size: 1.6rem;  
}

.main h2 {
    font-size: 3.5rem;  
}

.main hr {
    width: 25%;
    border: .05rem solid black;
}

.main--secondary, .main--tertiary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0rem 15rem;
    align-items: center;
} 

.main--tertiary-text {
    text-align: right;
}

.main--tertiary hr {
    display: flex;
    flex-direction: row;
    margin-left: 100%;
    transform: translateX(-100%);
}

.main--tertiary .img--hero {    
    width: 15rem;
    margin-right: 8rem;
}

.main--secondary .img--hero {    
    width: 15rem;
    margin-left: 8rem;
}


@media (max-width: 767px) {
    
    .main {
        height: 75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .main hr {
        margin: 0 auto;
    }

    .main--secondary, .main--tertiary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 1px solid black; */
        align-items: center;
        text-align: center;
        height: 35rem;
        width: 80rem;
    }

    .main--tertiary {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .main--secondary {
        justify-content: space-evenly;
        /* border: 1px solid; */
        height: 35rem;
    }
    
    .main--tertiary-text {
        text-align: center;
    }

    .main--tertiary-text hr {
        transform: translateX(0%);
    }

    .main--tertiary .img--hero {    
        margin-right: 0;
    }
    
    .main--secondary .img--hero {    
        margin-left: 0;
    }
}

.additional--features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60rem;
    padding: 5rem 3rem 5rem 3rem;
    background:rgba(229,149,114, 0.3);
}

.additional--features-left, .additional--features-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0rem 7rem;
    width: 35%;
}

.additional--features-right {
    margin-left: 5rem;
}

.additional--features img {
    margin-right: 4rem;
    height: 7.5rem;
}

.additional--features li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 6rem;
}

.additional--features li:last-child {
    margin-bottom: 0
}

@media (max-width: 767px) {

    .additional--features {
        display: flex;
        flex-direction: row;
        background:rgba(229,149,114, 0.3);        
        padding: 0rem 2rem;
        height: 50rem;
    }
    
    .additional--features-left, .additional--features-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0rem;
    }
    
    .additional--features-right {
        /* margin: 0rem; */
    }

    .additional--features-left {
        margin-left: 4rem;
    }
    
    .additional--features img {
        height: 5rem;
    }
    
    .additional--features li {
        font-size: 1.6rem;
        /* margin-bottom: 8rem; */
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45rem;
    background: rgba(38,148,171, 0.3);
}

.footer--freetrial, .footer--contact {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.footer--freetrial {
    flex-basis: 65%;
    align-items: center;
    text-align: center;
}

.footer--freetrial p {
    font-size: 4.5rem;
}

.footer--contact {
    align-items: center;
    flex-basis: 35%;
    background: rgba(38,148,171, 0.75);
}

.footer--contact li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.footer--contact li > p {
    text-decoration: underline;
    margin: auto;
    font-weight: bold;
    font-size: 4.5rem;
}

.footer--contact img {
    display: flex;
    height: 3.5rem;
    margin-right: 1.5rem;
} 

.footer--bar {
    height: 4.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: #333;
    color: #fff
}

.footer--bar-text {
    font-size: 1.6rem;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.footer--bar-text a {
    color: #fff;
}

.footer--bar-copyright p {
    font-size: 1.2rem;
    margin-right: 4rem;
}



@media (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 55rem;
        background: rgba(38,148,171, 0.3);
    }
    
    .footer--freetrial, .footer--contact {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        padding: 3rem 0rem;
    }
    
    .footer--freetrial p {
        font-size: 4.5rem;
    }
    
    .footer--contact {
        align-items: center;
        flex-basis: 35%;
        background: rgba(38,148,171, 0.75);
    }
    
    .footer--contact li {
        font-size: 2rem;
    }
    
    .footer--contact img {
        display: flex;
        height: 4rem;
        margin-right: 1.5rem;
    } 

    .footer--bar-text {
        font-size: 1.5rem;
        display: flex;
        width: 70%;
        justify-content: space-evenly;
    }
}
