* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

@media (max-width: 960px) {
    html {
      font-size: 57%;
    }
  }


body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
    width: 100%;
    background: rgb(251, 255, 249)
}

a {
    text-decoration: none;
    color: rgb(42, 42, 42);
    cursor: pointer;
}

h1 {
    font-size: 3rem;
}


h2 {
    font-size: 2.25rem;
}

.btn {
    border: none;
    padding: 2rem 4rem;
    border-radius: .3rem;
    background: none;
    width: auto;
    font-weight: 700;
    cursor: pointer;
}

.btn-register {
    padding: 0.5rem 2rem;
    width: 8rem;
}

.btn-trial {
    width: auto;
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
    margin-left: 1rem;
    cursor: pointer;
    background-image: linear-gradient(
        to bottom, 
        rgba(27, 221, 137, 1), 
        rgba(6, 228, 150, 1));
}

.btn-learnmore {
    width: 15rem;
    padding: 0.5rem 0.5rem;
    background-image: linear-gradient(
        to bottom, 
        rgba(27, 221, 137, 1), 
        rgba(6, 228, 150, 1));
}

.btn-learnmore a {
    color: rgb(251, 255, 249)
}

.btn-learnmore:hover {
    box-shadow: 0rem .1rem .3rem rgb(132, 132, 132);
    transition: 0.2s all;
    color: white;
  }

li {
    list-style: none;
}

.nav--background {
    background-image: linear-gradient(
        to right bottom, 
        rgba(126, 213, 111, 0.5), 
        rgba(40, 180, 131, 0.5));
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 82%, 0 100%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 82%, 0 100%, 0 0);
    padding: 4rem 0rem 8rem 0rem;
    height: auto;
}

.header--nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
    padding: 0rem 3rem;
}

.header--nav li {
    display: inline;
    margin-left: 1.6rem;
    line-height: 4rem;
    cursor: pointer;
    text-decoration: none;
    word-spacing: 0.5rem;
    font-weight: 700;
}

.header--nav li:first-child {
    margin-left: none;
}

.inline--logo {
    display: flex;
    align-items: center;
}

.inline--logo p {
    margin-left: 1rem;
    font-weight: 700;
}

.img--logo {
    height: 6rem;
    width: auto;
}

.nav--users-login, .nav--users-register {
    cursor: pointer;
    font-size: 1.6rem;   
}

.nav--users-login a:hover, .nav--users-register a:hover {
    color: white;
    font-size: 1.6rem;
    transition: .2s all;
}

.nav--featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    padding-left: 15rem;
}

.nav--featured hr {
    width: 45%;
    border: .02rem solid black;
}

.nav--featured p, .body--featured p {
    font-size: 1.5rem;    
    margin: 0.5rem 0rem;
}

.nav--featured h1 {
    margin: 1rem 0rem;
}

.nav--featured .btn {
    margin-top: 1rem;
}

@media (max-width: 960px) {
    .btn-learnmore:hover {
        box-shadow: none;
        transition: none;
      }
      
    
    .inline--logo {
        transform: translateY(-3rem);
    }

    .inline--logo p {
        font-size: 1rem;
        margin-left: 0.5rem;
    }
    
    .img--logo {
        height: 5rem;
    }

    .header--nav {
        flex-direction: column;
        justify-content: space-between;
        text-align: center; 
        height: 13rem;
        margin-top: 1rem;
        width: 100%;
        padding: 3rem 1rem;
    }

    .header--nav li {
        display: inline;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        cursor: pointer; 
    }

    .nav--featured {
        align-items: center;
        padding-left: 0rem;
        width: 100%;
    }

    .nav--featured h1 {
        text-align: center;  
        /* font-size: 3.5rem; */
        padding: 0rem 10rem;
    }

}

@media (max-width: 426px) {
    .header--nav li {
        display: inline;
        flex-flow: row wrap;
        line-height: 3rem;
        padding: 0rem .1rem;
    }

    .btn-register {
        border: 0.1rem solid black;
        padding: 0.5rem 1.5rem;
    }

    .nav--background {
        clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    }
}

.main {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
    align-items: center;    
    /* background-color: rgba(253,196,182, 0.3); */
}

.main p {
    font-size: 1.6rem;  
}

.main--header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    width: 100%;
    letter-spacing: 1rem;
    padding: 4rem 0rem 0rem 0;
}

.main hr {
    width: 25%;
    border: .07rem solid black;
}

.main--secondary, .main--tertiary {
    display: flex;
    flex-direction: row;
    margin: 0rem 0rem 4rem 0;
    align-items: center;
    width: auto;
} 

.main--secondary p, .main--tertiary p {
    padding: 1rem 0rem;
}

.main--tertiary-text {
    text-align: right;
    padding: 1.5rem;
}

.main--tertiary hr {
    display: flex;
    flex-direction: row;
    margin-left: 100%;
    transform: translateX(-100%);
}

.main--tertiary .img--hero {    
    width: 15rem;
    margin-right: 20rem;
}

.main--secondary .img--hero {    
    width: 15rem;
    margin-left: 20rem;
}


@media (max-width: 960px) {
    
    .main {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .main hr {
        margin: 0 auto;
    }

    .main--secondary, .main--tertiary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        width: auto;
    }

    .main--tertiary {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .main--secondary {
        justify-content: space-evenly;
    }
    
    .main--tertiary-text {
        text-align: center;
    }

    .main--tertiary-text hr {
        transform: translateX(0%);
    }

    .main--tertiary .img--hero {    
        margin-right: 0;
        margin-top: 1rem;
    }
    
    .main--secondary .img--hero {    
        margin-left: 0;
    }
}

.additional--header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    width: 100%;
    letter-spacing: 1rem;
    align-items:center;
    padding: 5rem 0rem 0rem 0rem;
}

.additional--features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 5rem 0rem;
    z-index: 100;
}

.additional--features-bg {
    z-index: -100;
}

.additional--features-left, .additional--features-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 0rem 7rem;
    width: auto;
}

.additional--features-left {
    border-right: 1px solid;
    border-width: 0.5rem;
    border-color: rgba(6, 228, 150, 1);
}

.additional--features img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
}

.additional--features li {
    display: flex;
    flex-direction: column;
    
    font-size: 1.6rem;
    margin-bottom: 6rem;
}

.additional--features li:last-child {
    margin-bottom: 0
}

@media (max-width: 960px) {

    .additional--features {
        display: flex;
        height: auto;
        flex-direction: column;
        padding: 5rem 0rem;
    }

    .additional--features-left {
        border-right: none;
    }
    
    .additional--features-left, .additional--features-right {
        width: 100%;
    }

    .additional--features-left {
        margin-bottom: 5.2rem;
    }
    
    .additional--features img {
        height: 5rem;
    }
    
    .additional--features li {
        font-size: 1.6rem;
        /* margin-bottom: 8rem; */
    }
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 60rem;
    /* border: 1px solid; */
}

.footer--freetrial, .footer--contact {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 0rem;
}

.footer--freetrial {
    flex-basis: 70%;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(
        to right bottom, 
        rgba(126, 213, 111, 0.5), 
        rgba(40, 180, 131, 0.5));
    clip-path: polygon(0% 0%, 83% 0, 100% 50%, 83% 100%, 0% 100%);
}

.text--green-big {
    color: rgb(5, 213, 140);
    font-size: 5rem;
}

.footer--align {
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.footer--freetrial p {
    font-size: 3.5rem;
}

.footer--freetrial a {
    color: rgb(251, 255, 249)
}

.footer--contact {
    align-items: center;
    flex-basis: 50%;
}

.footer--contact li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
}

.footer--contact li > p {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 3rem;
    padding-right: 0.2rem;
    letter-spacing: 1rem;
}

.footer--contact img {
    display: flex;
    height: 3.5rem;
    margin-right: 1.5rem;
} 

.footer--location {
    padding: 5rem 0rem;
    height: 40rem;
    width: 100%;
}

.footer--bar {
    height: auto;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(52, 52, 52, 1);
    color: #fff;
}

.footer--bar-text {
    font-size: 1.6rem;
    display: flex;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
}

.footer--bar-text a {
    color: #fff;
    margin-right: 5rem;
}

.footer--bar-text a:first-of-type {
    margin-left: 3rem;
}

.footer--bar-copyright p {
    font-size: 1.2rem;
    margin-right: 3rem;
}


@media (max-width: 960px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
    
    .footer--freetrial, .footer--contact {
        display: flex; 
        flex-flow: column nowrap;
        padding: 4rem 0rem;
    }

    .footer--freetrial {
        clip-path: none;
    }
    
    .footer--freetrial p {
        font-size: 4.5rem;
    }
    
    .footer--contact {
        align-items: center;
        flex-basis: auto;
    }
    
    .footer--contact li {
        font-size: 2rem;
    }
    
    .footer--contact img {
        display: flex;
        height: 4rem;
    } 

    .footer--contact img, .footer--contact li {
        flex-flow: column wrap; 
        margin: 1rem auto;
    } 

    .footer--bar {
     padding: 2rem;
     flex-direction: column;
    }

    .footer--bar-text {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    height: auto;
    }

    .footer--bar-copyright p {
    margin-top: 2rem;
    }
}